@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body {
  font-size: 62.5%;
  position: relative;
  height: 100%;
}

header {
  padding: 0 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
  background-color: #222222;
  color: #fff;
  font-size: 1.8rem;
}
header .logo {
  width: 7rem;
  height: 7rem;
}
header .logo img {
  width: 100%;
  height: 100%;
}
header .menu {
  display: flex;
  align-items: center;
  width: 70%;
}
header .menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  width: 90%;
}
header .menu ul li {
  font-family: San Francisco;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
header .menu ul li :hover {
  text-decoration: underline;
  text-decoration-color: #9FB576;
  text-decoration-thickness: 10px;
}
header .menu ul li a {
  text-decoration: none;
  color: #fff;
}
header .əlaqə {
  background-color: #9FB576;
  width: 12rem;
  height: 4rem;
  position: relative;
}
header .əlaqə ::before {
  content: "";
  position: absolute;
  left: -5px;
  right: 5px;
  top: -5px;
  bottom: 5px;
  border: 1px solid #fff;
  z-index: 100;
}
header .əlaqə a {
  text-decoration: none;
}

.sec1 {
  position: relative;
  height: 400px;
  background-color: #222222;
}

.home {
  position: relative;
  margin: 0 auto;
  width: 85vw;
  height: 76vh;
}
.home .swiper {
  width: 100%;
  height: 100%;
}
.home .swiper .swiper-horizontal > .swiper-pagination-bullets, .home .swiper .swiper-pagination-bullets.swiper-pagination-horizontal, .home .swiper .swiper-pagination-custom, .home .swiper .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: -40%;
  bottom: 25px;
  width: 100%;
  --swiper-pagination-color:green;
}
.home .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.home .swiper-slide .info {
  position: absolute;
}
.home .swiper-slide .info h2 {
  font-family: Baskerville;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  line-height: 67px;
}
.home .swiper-slide .info button {
  width: 250px;
  height: 50px;
  color: #fff;
  background-color: #9FB576;
  position: relative;
  border: none;
  margin-top: 45px;
}
.home .swiper-slide .info button ::before {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: 5px;
  border: 1px solid #fff;
  z-index: 100;
}
.sec2 {
  background-color: #565656;
  padding-top: 35vh;
}
.sec2 .main h2 {
  font-family: Baskerville;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 48px;
  color: #fff;
}
.sec2 .main .services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec2 .main .services :nth-child(2) .image {
  order: 1;
}
.sec2 .main .services :nth-child(2) .image::before {
  content: "";
  position: absolute;
  left: -25px;
  right: 25x;
  top: -25px;
  bottom: -25px;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}
.sec2 .main .services .part {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  width: 85vw;
}
.sec2 .main .services .part .image {
  width: 47%;
  position: relative;
}
.sec2 .main .services .part .image::before {
  content: "";
  position: absolute;
  left: 25px;
  right: -25x;
  top: -25px;
  bottom: -25px;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}
.sec2 .main .services .part .image img {
  width: 100%;
  height: 32rem;
  position: relative;
}
.sec2 .main .services .part .text {
  width: 45%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sec2 .main .services .part .text h2 {
  font-size: 26px;
}
.sec2 .main .services .part .text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.sec2 .main .services .part .text button {
  background-color: #9FB576;
  width: 12rem;
  height: 4rem;
  margin-top: 2rem;
  position: relative;
  border: none;
}
.sec2 .main .services .part .text button ::before {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: 5px;
  border: 1px solid #fff;
  z-index: 100;
}/*# sourceMappingURL=style.css.map */