.about {
  background-color: #565656;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .header {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  width: 85vw;
}
.about .header hr {
  width: 100%;
  display: inline-block;
  margin: 26px 0;
  background-color: #000;
}
.about .header h2 {
  font-family: Petrona;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 48px;
  margin: 0 4rem;
}
.about .about_info {
  width: 85vw;
  margin-top: 5rem;
}
.about .about_info p {
  font-family: Jaldi;
  font-size: 2rem;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.about .about_info .info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.about .about_info .info img {
  width: 100%;
}
.about .about_info .info p {
  margin-bottom: 2rem;
}
.about .about_info .text {
  margin-top: 3rem;
}
.about .our_team {
  width: 85vw;
}
.about .our_team .header {
  margin: 8rem 0;
}
.about .our_team .members {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  margin-left: 25px;
  margin-top: 5rem;
  gap: 10rem;
}
.about .our_team .members .member {
  height: 400px;
  background-color: #9fb576;
  position: relative;
}
.about .our_team .members .member .img-container {
  width: 100%;
  height: 320px;
  position: absolute;
  left: -15px;
  top: -15px;
}
.about .our_team .members .member .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .our_team .members .member .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 15px;
  text-align: center;
}
.about .our_team .members .member .info h2, .about .our_team .members .member .info h3 {
  font-family: Jaldi;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}
.about .contact_info {
  margin-top: 8rem;
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  padding: 2rem 0;
}
.about .contact_info div {
  margin-top: 3rem;
  width: 85%;
  display: flex;
  justify-content: space-around;
}
.about .contact_info div a {
  font-family: Jaldi;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.about .request {
  margin: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .request h2 {
  text-align: center;
  font-family: Petrona;
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
}
.about .request .main {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin-top: 5rem;
}
.about .request .main .image {
  width: 49%;
}
.about .request .main .image img {
  width: 100%;
  height: 100%;
}
.about .request .main form {
  padding: 3rem;
  border: 1px solid #fff;
  width: 49%;
  display: flex;
  flex-direction: column;
}
.about .request .main form div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.about .request .main form input {
  width: 47%;
  height: 4rem;
  background-color: #565656;
  color: #fff;
  padding-left: 10px;
  border: 1px solid #fff;
}
.about .request .main form input::-moz-placeholder {
  color: #fff;
  padding-left: 1rem;
}
.about .request .main form input::placeholder {
  color: #fff;
  padding-left: 1rem;
}
.about .request .main form #message {
  border: 1px solid #fff;
  padding: 8px;
  background-color: #565656;
}
.about .request .main form #message::-moz-placeholder {
  color: #fff;
}
.about .request .main form #message::placeholder {
  color: #fff;
}
.about .request .btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.about .request .btn button {
  height: 5rem;
  width: 20rem;
  background-color: #9fb576;
  border: none;
  position: relative;
  color: #fff;
  margin-top: 3rem;
  margin-right: 5px;
}
.about .request .btn button::after {
  content: " ";
  position: absolute;
  border: 1px solid #fff;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: 5px;
  z-index: 1;
}
.about .request .btn button:hover::after {
  transition: all 0.5s ease;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

@media (max-width: 1020px) {
  .about .about_info .info {
    display: block;
  }
  .about .request .main {
    display: block !important;
  }
  .about .request .main form {
    margin-top: 2rem;
    width: 100% !important;
  }
  .about .request .main .image {
    width: 100% !important;
  }
  .about .request .main .image img {
    width: 100%;
  }
  .about .members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
  }
  .about .contact_info div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}/*# sourceMappingURL=about.css.map */