.interyer {
  background-color: #565656;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.interyer .header {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  width: 85vw;
}
.interyer .header hr {
  width: 37%;
  height: 3px;
  border: none;
  display: inline-block;
  margin: 26px 0;
  background-color: #fff;
}
.interyer .header h2 {
  font-family: Petrona;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 48px;
  margin: 0 4rem;
}
.interyer .interyer_info {
  margin-top: 5rem;
  display: flex;
  width: 85vw;
  gap: 2rem;
}
.interyer .interyer_info img {
  width: 50%;
}
.interyer .interyer_info .info {
  width: 50%;
  font-family: Jaldi;
  font-size: 2rem;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 400;
}
.interyer .sec2 {
  padding-top: 0;
}
.interyer .request {
  margin: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interyer .request h2 {
  text-align: center;
  font-family: Petrona;
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
}
.interyer .request .main {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin-top: 5rem;
}
.interyer .request .main .image {
  width: 49%;
}
.interyer .request .main .image img {
  width: 100%;
  height: 100%;
}
.interyer .request .main form {
  padding: 3rem;
  border: 1px solid #fff;
  width: 49%;
  display: flex;
  flex-direction: column;
}
.interyer .request .main form div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.interyer .request .main form input {
  width: 47%;
  height: 4rem;
  background-color: #565656;
  color: #fff;
  padding-left: 10px;
  border: 1px solid #fff;
}
.interyer .request .main form input::-moz-placeholder {
  color: #fff;
  padding-left: 1rem;
}
.interyer .request .main form input::placeholder {
  color: #fff;
  padding-left: 1rem;
}
.interyer .request .main form #message {
  border: 1px solid #fff;
  padding: 8px;
  background-color: #565656;
}
.interyer .request .main form #message::-moz-placeholder {
  color: #fff;
}
.interyer .request .main form #message::placeholder {
  color: #fff;
}
.interyer .request .btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.interyer .request .btn button {
  height: 5rem;
  width: 20rem;
  background-color: #9fb576;
  border: none;
  position: relative;
  color: #fff;
  margin-top: 3rem;
  margin-right: 5px;
}
.interyer .request .btn button::after {
  content: " ";
  position: absolute;
  border: 1px solid #fff;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: 5px;
  z-index: 1;
}
.interyer .request .btn button:hover::after {
  transition: all 0.5s ease;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

@media (max-width: 1020px) {
  .interyer .interyer_info {
    display: block !important;
  }
  .interyer .interyer_info .info, .interyer .interyer_info img {
    width: 100%;
  }
  .interyer .request .main {
    display: block !important;
  }
  .interyer .request .main .image, .interyer .request .main form {
    width: 100%;
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=interyer.css.map */