.sec2{
    padding: 4rem  0 !important;
    .connection{
        
        margin-left:0rem !important;
        padding-left:5rem
    }


.main{
    background-color: #565656; 
       .our_service{ 
            font-weight: 400;
            line-height: 50px;
            letter-spacing: 0em;
            text-align: center;
            font-size: 48px;
            color: #fff;
            position: relative;
            margin-top: 5rem;
            &::before{
                content: ""; 
                //position: absolute;
                 width: 25%;
                 margin:  19px 14px  14px 0;

                border: 1px solid #fff;
                display: inline-block;
                // margin: 0 5px 5px 0;
                // height: 3px;
                // content: " ";
                // text-shadow: none;
                // background-color: #F32735;
                // width: 35px;
            }
            &::after{
                content: "";
                width: 25%;
                margin:  19px 14px  14px 19px;

               border: 1px solid #fff;
               display: inline-block;
                // position: absolute;
                
                //  width: 25%;
                //  top: 50%;
                //  right: 10%;

                // border: 1px solid #fff;
            }
             

       
    }
 }    
}
.image::before{
    display: none;
}

@media (max-width:1020px) {
    .our_service::after,::before{
        // display: none!important;
    }
    .sec2{
        .part{
            display: block!important;
            
            .text, .image{
                width: 100% !important;
            }
            a{
                text-align: right;
            }
        }
    }
}
 