@charset "UTF-8";
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  padding: 0 7.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  background-color: #222222;
  color: #fff;
  font-size: 1.8rem;
}
header .logo {
  width: 7rem;
  height: 7rem;
}
header .logo img {
  width: 100%;
  height: 100%;
}
header .bars {
  display: none;
}
header .menu {
  display: flex;
  align-items: center;
  padding-left: 10rem;
  width: 100%;
}
header .menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}
header .menu ul li {
  font-family: San Francisco;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  position: relative;
  z-index: 1;
}
header .menu ul li:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 62%;
  left: 0;
  height: 10px;
  width: 0;
  transition: 0.5s;
  background-color: #9fb576;
}
header .menu ul li:hover::after {
  width: 100%;
}
header .menu ul li a {
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 1;
  font-family: San Francisco;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 18px;
}
header .menu ul .əlaqə {
  background-color: #9fb576;
  width: 12rem;
  height: 4rem;
  position: relative;
  cursor: pointer;
}
header .menu ul .əlaqə a {
  color: #fff;
}
header .menu ul .əlaqə:hover::before {
  transition: all 0.5s ease;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
header .menu ul .əlaqə::before {
  content: "";
  position: absolute;
  left: -7px;
  right: -7px;
  top: -7px;
  bottom: 7px;
  border: 1px solid #fff;
  z-index: 100;
}
header .menu ul .əlaqə a {
  text-decoration: none;
}

.sec1 {
  position: relative;
  height: 400px;
  background-color: #222222;
}

.home {
  position: relative;
  margin: 0 auto;
  width: 85vw;
  height: 76vh;
}
.home .swiper {
  width: 100%;
  height: 100%;
}
.home .swiper .swiper-horizontal > .swiper-pagination-bullets,
.home .swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.home .swiper .swiper-pagination-custom,
.home .swiper .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: -40%;
  bottom: 25px;
  width: 100%;
  --swiper-pagination-color: green;
}
.home .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.home .swiper-slide .info {
  position: absolute;
}
.home .swiper-slide .info h2 {
  font-family: Baskerville;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  line-height: 67px;
}
.home .swiper-slide .info button {
  width: 250px;
  height: 50px;
  color: #fff;
  background-color: #9fb576;
  position: relative;
  border: none;
  margin-top: 45px;
}
.home .swiper-slide .info button:hover::before {
  transition: all 0.5s ease;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.home .swiper-slide .info button::before {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: 5px;
  border: 1px solid #fff;
  z-index: 100;
}

.sec2 {
  background-color: #565656;
  padding-top: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec2 .connection {
  width: 100%;
  margin-left: 10rem;
}
.sec2 .connection i {
  color: #fff;
}
.sec2 .connection a {
  color: #fff;
  font-family: Jaldi;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 12px;
}
.sec2 .main h2 {
  font-family: Baskerville;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 48px;
  color: #fff;
}
.sec2 .main .services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec2 .main .services :nth-child(2) .image {
  order: 1;
}
.sec2 .main .services :nth-child(2) .image::before {
  content: "";
  position: absolute;
  left: -25px !important;
  top: -25px !important;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}
.sec2 .main .services .part {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  width: 85vw;
}
.sec2 .main .services .part .image {
  width: 47%;
  position: relative;
}
.sec2 .main .services .part .image::before {
  content: "";
  position: absolute;
  left: 25px;
  right: -25px;
  top: -25px;
  bottom: -25px;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}
.sec2 .main .services .part .image img {
  width: 100%;
  height: 32rem;
  position: relative;
}
.sec2 .main .services .part .text {
  width: 45%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sec2 .main .services .part .text h2 {
  font-size: 26px;
}
.sec2 .main .services .part .text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
  color: #fff;
}
.sec2 .main .services .part .text button {
  background-color: #9fb576;
  width: 12rem;
  height: 4rem;
  margin-top: 2rem;
  position: relative;
  border: none;
}
.sec2 .main .services .part .text button::before {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: 5px;
  border: 1px solid #fff;
  z-index: 100;
}
.sec2 .job_sections {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}
.sec2 .job_sections h2 {
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  font-size: 48px;
  color: #fff;
}
.sec2 .job_sections .jobs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  color: #fff;
  justify-content: space-around;
  gap: 13rem;
  margin-top: 4rem;
}
.sec2 .job_sections .jobs .job {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.sec2 .job_sections .jobs .job .id {
  font-size: 3.6rem;
  position: relative;
}
.sec2 .job_sections .jobs .job .id ::after {
  content: " ";
  position: absolute;
  bottom: 5px;
  border: 1px solid #fff;
  z-index: 1000;
}
.sec2 .job_sections .jobs .job .name {
  font-size: 2.5rem;
}
.sec2 .job_sections .jobs .job .info {
  font-family: San Francisco;
  line-height: 25px;
  letter-spacing: 0.01rem;
  text-align: left;
  font-size: 18px;
}
.sec2 .portfolio {
  padding-bottom: 5rem;
  width: 100%;
}
.sec2 .portfolio h2 {
  margin-top: 5rem;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  font-size: 48px;
  color: #fff;
}
.sec2 .portfolio .swiper {
  width: 85vw;
  margin-top: 5rem;
}
.sec2 .portfolio .swiper .swiper-slide {
  margin-top: 5rem 0;
}
.sec2 .portfolio .swiper .swiper-slide img {
  width: 50vw;
  height: 25vw;
}
.sec2 .request {
  margin-bottom: 8rem;
}
.sec2 .request h2 {
  text-align: center;
  font-family: Baskerville;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin: 2rem;
}
.sec2 .request .container {
  width: 85vw;
  height: 25vh;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sec2 .request .container .text {
  display: flex;
  gap: 2rem;
}
.sec2 .request .container .text input {
  width: 55%;
  height: 4rem;
  gap: 2rem;
  border: 1px solid #c4c4c4;
  background-color: #565656;
  color: #c4c4c4;
  padding-left: 1rem;
}
.sec2 .request .container .sub {
  position: relative;
}
.sec2 .request .container .sub::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: 18rem;
  height: 4rem;
  border: 1px solid #fff;
  z-index: 100;
}
.sec2 .request .container .sub #submit {
  width: 18rem;
  height: 4rem;
  background-color: #9fb576;
  border: none;
  color: #fff;
}

footer {
  background-color: #9fb576;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  padding: 5rem 0 3rem 0;
}
footer .footer .menu {
  display: flex;
}
footer .footer .menu ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
footer .footer .menu ul li {
  font-family: San Francisco;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 2rem;
}
footer .footer .menu ul li a {
  color: #fff;
}
footer .footer hr {
  width: 100%;
  margin: 3rem 0;
  border: 1px solid #fff;
}
footer .footer .contact {
  display: flex;
  justify-content: space-around;
  font-family: San Francisco;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  font-size: 18px;
}
footer .footer .contact a {
  color: #fff;
}
footer .footer .media {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
  font-size: 4rem;
}

.active {
  display: block;
}

@media (max-width: 1020px) {
  header {
    display: flex;
    justify-content: space-around;
  }
  header .bars {
    display: block;
  }
  header .menu {
    display: none;
    padding-left: 0;
  }
  header .menu.active {
    display: flex !important;
    top: 8rem;
    position: absolute;
    width: 200px;
    height: 95vh;
    z-index: 10;
    background-color: #222222;
    left: 0;
    transform: translateX(0%);
    transition: 0.5s;
    animation: mymove 2s forwards;
  }
  header .menu.active ul {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .menu ul {
    display: block;
    z-index: 100;
  }
  header .menu ul li {
    text-align: start;
  }
}
@keyframes mymove {
  from {
    top: -95vh;
  }
  to {
    top: 8rem;
  }
}/*# sourceMappingURL=style.css.map */